*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

/* Topo */

.container-topo {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    width: 95%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.secao-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.secao-topo span {
    color: rgb(36, 165, 201);
}

.secao-topo a {
    color: #000;
}

.link-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.link-topo a {
    color: #333333;
    font-size: 18px;
}

/* Conteúdo */

.container-main {
    width: 100%;
}

/* Banner */

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('/Projeto_8/assets/img-fundo.jpg');
    background-position: center;
    background-size: cover;
}

.banner-title {
    background: rgba(30, 154, 143, 0.65);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #fff;
}

.banner-title h1 {
    font-size: 55px;
    color: #fff;
}

.banner-title p {
    font-size: 28px;
    color: #fff;
}

/* Textos */

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    padding: 20px 13px;
}

.textos h2,p {
    color: #565656;
}

.textos h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 10px;
}

.textos p {
    font-size: 16px;
    padding: 5px;
}

/* Cards Quartos*/

.secao-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 50px;
}

.cards {
    border-bottom: 1px solid #06ac88;
}

.cards p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    font-size: 25px;
    color: #333;
}

.cards img {
    width: 400px;
    height: 280px;
}

/* Sobre */

.container-sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px ;
}

.secao-sobre {
    display: flex;
    width: 480px;
    margin: 15px 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
}

.card-text h3 {
    font-size: 16px;
    padding: 8px 8px;
}

.card-text p {
    font-size: 12px;
    padding: 3px 4px;
}

.sobre-img img{
    width: 220px;
    height: 150px;
    padding: 10px 5px;
}

/* Footer */

.container-rodape, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068045;
    color: #fff;
}

.container-rodape {
    border-bottom: 1px solid #045930 ;
}

footer p {
    color: #fff;
    margin: 10px;
}

.secao-rodape {
    width: 200px;
    margin: 15px 25px;
    padding: 15px 10px;
}

.container-rodape a {
    display: flex;
    font-size: 12px;
}

.container-rodape p {
    color: #fff;
    padding: 5px;
}

.container-rodape img {
    width: 30px;
    height: 35px;
}

.maps-link {
    width: 220px;
    margin: 15px 20px;
    padding: 15px 10px;
}

.telefone {
    width: 220px;
    margin: 15px 20px;
    padding: 15px 10px;
}

.booking-link {
    width: 220px;
    margin: 15px 20px;
    padding: 15px 10px;
}